[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
falcon = "==1.3.0"
pytest = "*"
httpie = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
